:root {
  --black: #3a3a3a;
  --white: #fff;
  --yellow: #FDD128;
  --grey: #DFE0DF;
  --green: #5390d9;
  --blue: #5390d9;
  --purple: #943ce7;
  --pink: #e73c7e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center; 
  vertical-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.hero h1 {
  margin: 1rem
}

h5 {
  font-weight: 600;
}

.highlight {
  background: linear-gradient(45deg, #e73c7e, #943ce7);
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline {
  background-image: linear-gradient(45deg, #e73c7e, #943ce7);
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.intro {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.intro .hero {
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2rem 4rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.project-list {
  min-height: 100vh; 
}

.honors{
  min-height: 100vh;
  background-color: #DFE0DF;
}

.project-list-container {
  min-width: none;
  overflow: hidden;
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ol {
  list-style: none;
}

.card {
  border-color: var(--purple) !important;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.project-categories * {
  display: inline-block;
}

.filters {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  border-color: var(--purple);
  border-width: 1px;
  color: var(--purple);
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--purple);
  color: var(--white);
}

.btn-outline-primary[disabled] {
  border-radius: 1.4rem;
  min-width: 50px;
  border-color: var(--purple);
  color: var(--purple);
  margin-bottom: 1rem;
}
.btn-outline-primary:hover {
  background-color: var(--purple) !important;
  border-color: var(--purple);
}
.btn-outline-primary:active, .btn-outline-primary:focus {
  box-shadow: none !important;
}

.btn-primary {
  background: linear-gradient(45deg, #e73c7e, #943ce7);
  border: none;
  font-size: small;
}

.btn-primary:hover {
  background-color: var(--purple);
}

.btn-primary:active, .btn-primary:focus {
  background-color: var(--purple);
  border: none;
  box-shadow: none !important;
}

[value="All"]:checked ~ .filters [for="All"],
[value="Python"]:checked ~ .filters [for="Python"],
[value="R"]:checked ~ .filters [for="R"],
[value="SQL"]:checked ~ .filters [for="SQL"],
[value="Visualization"]:checked ~ .filters [for="Visualization"],
[value="Econometrics"]:checked ~ .filters [for="Econometrics"],
[value="NLP"]:checked ~ .filters [for="NLP"] {
  background: var(--purple);
  color: var(--white);
}

[value="All"]:checked ~ .projects [data-category] {
  display: block;
}

[value="Python"]:checked ~ .projects .project:not([data-category~="Python"]),
[value="R"]:checked ~ .projects .project:not([data-category~="R"]),
[value="SQL"]:checked ~ .projects .project:not([data-category~="SQL"]),
[value="Visualization"]:checked ~ .projects .project:not([data-category~="Visualization"]),
[value="Econometrics"]:checked ~ .projects .project:not([data-category~="Econometrics"]),
[value="NLP"]:checked ~ .projects .project:not([data-category~="NLP"]) {
  display: none;
}

/* scroll down arrow */

.arrow-down{
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:absolute;
  left:50%;
  bottom:0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  
}

.arrow-down:hover{
   -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height:10px;
  width:40px;
  background: white;
  -webkit-transform:rotate(200deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
  position:absolute;
  height:10px;
  width:40px;
  background: white;
  -webkit-transform:rotate(-20deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow{
  0% {
    bottom:0px;
  }
  100%{
    bottom:40px;
  }
}


@-webkit-keyframes leftArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(225deg);
  }
}

@-webkit-keyframes rightArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(-45deg);
  }
}
