/* body {
  font-family: 'Spectral', serif;
  line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */
